[user]
	email = noel@noynoy.org
	name = Noel Bautista
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBg8wanF/61h6IizynEwyrXwTx3TTt5/37Cz0Ao8Nq+d

[gpg]
	format = ssh

[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign

[commit]
	gpgsign = true

[tag]
	gpgSign = true
